.navbar {
  width: 100%;
  height: 80px;
  background: #ae0061 !important;
}

.navbar a {
  color: #fff;
}

.logo {
  /* background-image: url(/assets/imagenes/logo1\ magos.png); */
  position: absolute;
  right: 18px;
  top: 0;

  width: 80px;
  height: 50px;
  object-fit: cover;
}
